.profile {
    .profile_account {
        .profile_account_img {

        }

        .profile_account_info{

        }
    }
    .profile_menu {
        .profile_menu_one {
            .profile_menu_one_item {
                display: flex;
                align-items: center;
                p {
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        .text-item {
                            margin-left: 20%;
                        }
                    }
  
                }
            }
        }
    }
}
