.profile {
    .profile_account {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        span {
            .profile-icon {
                width: 50px;
                height: 50px;
            }
        }
        .profile_account_img {
            
        }

        .profile_account_info{
            margin-left: 10px;
        }
    }
    .profile_menu {
        .profile_menu_one {
            .profile_menu_one_item {
                display: flex;
                align-items: center;
                p {
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        .text-item {
                            margin-left: 20%;
                        }
                    }
  
                }
            }
        }
    }
}
