.sign-up {
    color: var(--main-color);
    width: 70%;
    margin: 0 auto;
    margin-top: 10rem;
    display: flex;
    justify-content: center;

    .sign-up-left {
        width: 50%;
        display: flex;
        justify-content: right;
        align-items: center;
        img {
            width: 100%;
            height: 500px;
        }

    }

    .sign-up-right {
        width: 50%;
        margin-left: 40px;

        .header-title {
            text-align: center;

            p {
                padding: 15px;
                font-weight: 500;
            }
        }
    }

    .input-from {
        
        
        
    }

    .forgot-password {
        margin: 10px 0;
        text-align: left;

        a {
            text-decoration: none;
            color: var(--main-color);
        }
    }

    .btn-sign-us {
        margin-top: 15px;
        text-align: center;
        color: var(--main-color);
        
    }
}