.admin-orders {
    margin: 30px;
    color: var(--main-color);

    .admin-orders-title {
        display: flex;
        justify-content: space-between;

    }

    .admin-orders-content {
        border-radius: 10px;
        background-color: white;

        margin-top: 20px;

        .admin-orders-content-list {
            table {

                width: 100%;
                border: 1px solid var(--main-color-little-2);
                border-radius: 7px;

                thead {
                    width: 100%;

                    tr {
                        display: grid;
                        grid-template-columns: 1fr 2.5fr 2fr 3fr 1fr 1fr 1.5fr;
                        /* Chia thành 3 cột có tỷ lệ bằng nhau */
                        gap: 20px;
                        padding: 10px 20px;
                        align-items: center;

                        .checkbox {
                            width: 20px;
                            height: 20px;
                        }

                        .input-date {
                            display: flex;
                            justify-content: left;

                            input {
                                margin-right: 5%;
                                width: 40%;
                            }
                        }



                        th {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;

                            .checkbox {
                                width: 20px;
                                height: 20px;
                            }

                            input {
                                width: 100%;
                                margin-bottom: 10px;
                                padding: 10px;
                                border-radius: 5px;
                                border: 1px solid var(--main-color);
                            }

                            select {
                                margin-bottom: 10px;
                                padding: 10px;
                                width: 100%;
                                border-radius: 5px;
                                border: 1px solid var(--main-color);
                            }
                        }
                    }
                }

                tbody {
                    tr {
                        display: grid;
                        grid-template-columns: 1fr 2.5fr 2fr 3fr 1fr 1fr 1.5fr;
                        /* Chia thành 3 cột có tỷ lệ bằng nhau */
                        gap: 10px;
                        padding: 10px 20px;
                        border-top: 1px solid var(--main-color-little-2);
                        text-align: left;
                        align-items: center;

                        .orders-total {
                            text-align: center;
                        }

                        td {

                            text-align: left;

                            input {
                                width: 20px;
                                height: 20px;
                            }

                            img {
                                width: 70px;
                                height: 70px;
                                border-radius: 5px;
                            }

                            .orders-status {
                                text-align: center;

                                .orders-status-true {
                                    color: rgb(25, 204, 144);
                                }

                                .orders-status-false {
                                    color: rgb(255, 145, 145);
                                }
                            }

                            span {
                                .icon {
                                    width: 20px;
                                    height: 20px;
                                    margin-right: 15px;
                                }

                                .action-edit {
                                    color: rgb(242, 187, 85);
                                }

                                .action-dele {
                                    color: rgb(238, 79, 79);
                                }

                                .action-eye {
                                    color: rgb(25, 204, 144);
                                }
                            }
                        }

                        label {
                            padding: 5px 10px;
                            border-radius: 20px;
                            background-color: var(--background-color);
                        }

                        .Pending {
                            color: red;
                        }

                        .Processing {
                            color: rgb(205, 187, 50);
                        }

                        .Completed {
                            color: green;
                        }

                        .orders-actions {
                            text-align: center;
                        }




                    }

                    .current-page-number {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-top: 1px solid var(--main-color);
                        padding: 20px;

                        .number-orders-page {
                            display: flex;
                            align-items: center;
                            justify-content: left;

                            input {
                                margin: 0px 10px;
                                padding: 10px;
                            }
                        }

                        .pagination-info {
                            display: flex;
                            align-items: center;
                            justify-content: right;

                            .page-number {
                                display: flex;
                                align-items: center;

                                input {
                                    margin: 0px 10px;
                                    width: 60px;
                                    padding: 10px;
                                    text-align: center;
                                }
                            }

                            .number-orders-total {
                                display: flex;

                            }

                            .icon {
                                padding: 10px;
                                margin: 5px;
                                border: 1px solid var(--main-color);

                                .icon-next .icon-prev {
                                    color: var(--main-color);
                                    // padding: 10px;
                                    width: 20px;
                                    height: 20px;

                                }
                            }
                        }
                    }
                }
            }

        }
    }
}