.cart-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 999;
    // height: 80vh;
    // overflow-y: scroll;

    .cart-layer {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .cart-content {
        color: var(--main-color);
        height: 100%;
        background-color: white;
        z-index: 1;
        flex-direction: column;

        width: 360px;

        .cart-close {
            .cart-close-icon {
                width: 30px;
                height: auto;
                margin: 30px;
                display: flex;
                justify-content: left;
            }
        }

        .cart-title {
            text-align: left;
            margin: 30px;
            font-size: 25px;
        }

        .cart-products {
            margin-bottom: 30px;

            .cart-product {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                margin: 30px;

                .cart-product-content {

                    display: flex;
                    justify-content: left;
                    align-items: center;

                    img {
                        width: 100px;
                        height: auto;
                    }

                    input {
                        width: 50px;
                        margin-left: 10px;
                        height: 30px;
                    }

                    .cart-product-detail {
                        margin-left: 10px;

                    }

                    .quantity {
                        font-size: 16px;
                        font-weight: 500;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: 5px;

                        span {
                            padding: 5px;
                            border: 2px solid var(--main-color);
                            border-radius: 5px;
                        }
                    }
                }

                span {
                    display: inline-block;
                    ;
                    justify-content: right;

                    .dele-cart-product {
                        width: 25px;
                        height: auto;
                    }
                }
            }

            .cart-total {
                padding: 0 30px;
                display: flex;
                justify-content: space-between;

                p {
                    font-size: 20px;
                }
            }

        }

        .cart-button {
            z-index: 9999;
            padding: 10px 30px;
            width: 100%;

            button {
                border: none;
                background-color: var(--main-color);
                color: var(--background-color);
                margin: 10px 0;
                padding: 10px 20px;
                width: 100%;

            }

            button:hover {
                border: 2px solid var(--main-color);
                background-color: var(--background-color);
                color: var(--main-color);
            }

        }

        .no-product-cart {
            .icon {
                span {
                    .icon-cartX {
                        width: 70px;
                        height: 70px;
                    }
                }
            }

            .btn {
                width: 50%;
                margin: 0 auto;
            }
        }

    }
}