.dashboard {
    padding-left: 20px;
    .box-one {
        width: 100px;
        height: 100px;
        background-color: white;
    }

    .box-two {
        width: 100px;
        height: 100px;
        background-color: white;
    }
}