footer {
    display: flex;
    height: 200px;
    background-color: #7d7d7d;
    color: #f2f2f2;
    justify-content: space-evenly;
    padding: 30px 60px;
    margin-top: 50px;
    z-index: 3;
  }
  
  .footer-one h3, .footer-three h3 {
    margin-bottom: 30px;
  }
  
  .footer-four span {
    padding: 10px;
  }
  