.button {
    span {
        button {
            margin: 10px 0;
            padding: 10px 20px;
            border: 2px solid var(--main-color);
            color: var(--background-color);
            background-color: var(--main-color);
            width: 100%;
            border-radius: 10px;
            // text-decoration: none;
        }
    }
}