:root {
    --main-color: #7d7d7d;
    --main-color-little: #d5d4d4;
    --main-color-little-2: #b8b8b8;
    --background-color: #f3f3f3;
  }
  
  .App {
    text-align: center;
  }
  
  * {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }