.nav {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    background: #f2f2f2;
    flex-basis: 50%;
    flex-direction: row;
    line-height: 18px;
    padding: 15px;
    justify-content: space-around;

}

.nav-left {
    display: flex;
    text-align: center;
    align-items: center;
}

.nav-left-logo-icon {
    display: inline;
    width: 50px ;
    height: 50px ;
}

.nav-left-menu {
    text-align: left;
}

.nav-left-menu li {
    display: inline-block;
}

.nav-left-menu li a {
    background-color: #f2f2f2;
    color: #7d7d7d;
    display: inline;
    font-family: Tajawal;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    padding: 10px 15px;
    text-decoration: none;
}

.nav-search {
    display: flex;
    justify-content: center;
    text-align: right;
}

.nav-search span {
    padding: 10px;
    align-items: center;
}

.nav-search input {
    width: 300px;
}

.nav-right {
    display: flex;
    list-style: none;
    flex-direction: row;
}

.nav-right-cart {
    padding-right: 20px;
}

.nav-right li a {
    align-items: center;
    background-color: #f2f2f2;
    color: #7d7d7d;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    line-height: 14px;
    margin: 12px;
    padding: 12px 16px;
    text-decoration: none;
}

.nav-right-btn a {
    border: 2px solid #7d7d7d;
}